#	Nextflow-related hidden/ log/ temp files
.nextflow*
work/*
run_*_half_jhpce.log
Arioc/temp_encoded_reads*

#	Personal data- related
test/samples.manifest
out/*

#	Large files that should be built
ref/*
Arioc/encoded_ref/*
