#	Nextflow-related hidden/ log/ temp files
.nextflow*
work/*
run_*_half_*.log
docker/singularity_cache

#	Personal data- related
out/*

#	Large files that should be built
ref/*

# Installation-related
Software/*
test/*/*/samples.manifest
test/*/*/rules.txt
conda/pipeline_env

#	Files when rendering RMD vignette
documentation/example_analysis/render.log
documentation/example_analysis/example_analysis.log
documentation/example_analysis/example_analysis.knit.md
