#	Nextflow-related hidden/ log/ temp files
.nextflow*
work/*
run_*_half_*.log

#	Personal data- related
out/*

#	Large files that should be built
ref/*

# Installation-related
Software/*
test/*/*/samples.manifest
test/*/*/rules.txt
