
nextflowVersion = '>=0.27.0'  // a "soft" requirement for minimum version

profiles {
    first_half_jhpce {
        includeConfig 'conf/first_half_jhpce.config'
    }
    
    second_half_jhpce {
        includeConfig 'conf/second_half_jhpce.config'
    }
    
    marcc {
        includeConfig 'conf/marcc.config'
    }
}
