
nextflowVersion = '>=0.27.0'  // a "soft" requirement for minimum version

profiles {
    first_half_jhpce {
        includeConfig 'conf/first_half_jhpce.config'
    }
    
    second_half_jhpce {
        includeConfig 'conf/second_half_jhpce.config'
    }
    
    first_half_sge {
        includeConfig 'conf/first_half_sge.config'
    }
    
    second_half_sge {
        includeConfig 'conf/second_half_sge.config'
    }
    
    first_half_slurm {
        includeConfig 'conf/first_half_slurm.config'
    }
    
    second_half_slurm {
        includeConfig 'conf/second_half_slurm.config'
    }
    
    first_half_local {
        includeConfig 'conf/first_half_local.config'
    }
    
    second_half_local {
        includeConfig 'conf/second_half_local.config'
    }
    
    first_half_marcc {
        includeConfig 'conf/first_half_marcc.config'
    }
    
    second_half_marcc {
        includeConfig 'conf/second_half_marcc.config'
    }
}
