//=========================================================================
//  Hardware and software configuration for pipeline execution at JHPCE
//=========================================================================

env.OMP_NUM_THREADS = 2

params {    
    //----------------------------------------------------
    //  Annotation-related settings
    //----------------------------------------------------
    
    gencode_version_human = "34"
    gencode_version_mouse = "M23"
    anno_build = "main" // main or primary (main is canonical seqs only)
    
    //----------------------------------------------------
    //  Arioc alignment settings
    //----------------------------------------------------
  
    batch_size = "32k"
    gapped_seed = "hsi25_0_30_CT"
    nongapped_seed = "ssi84_2_30_CT"
    gapped_args = 'Wmxgs="2,6,5,3" Vt="L,0,1" maxJ="20" seedDepth="4"'
    nongapped_args = 'maxJ="200" maxMismatches="5"'
    x_args = 'watchdogInterval="60" cgaReserved="24M" useHinGmem="0" useJinGmem="0" useHJinGPmem="0" serialLUTinit="1"'
    gpu_mask = "0x00000001"
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

executor {
    name = 'sge'
    queueSize = 40
    submitRateLimit = '1 sec'
    exitReadTimeout = '40 min'
}

process {

    cache = 'lenient'
    
    withName: PullReference {
        cpus = 1
        clusterOptions = '-l mem_free=5G,h_vmem=5G'
    }
  
    withName: PrepareReference {
        cpus = 1
        module = 'conda_R/4.0.x'
        clusterOptions = '-l mem_free=3G,h_vmem=3G'
    }
    
    withName: EncodeReference {
        cpus = 1
        module = 'arioc/1.43'
        clusterOptions = '-l gpu,mf=200G,h_vmem=200G,h_fsize=200G,h_stack=32M'
    }
  
    withName: PreprocessInputs {
        cpus = 1
        module = 'conda_R/4.0.x'
        clusterOptions = '-l mem_free=3G,h_vmem=3G,h_fsize=300G'
    }
    
    withName: FastQC_Untrimmed {
        cpus = 2
        penv = 'local'
        module = 'fastqc/0.11.8'
        clusterOptions = '-l mem_free=5G,h_vmem=5G'
    }
    
    withName: Trimming {
        cpus = 1
        module = 'trimgalore/0.6.6'
        clusterOptions = '-l mem_free=5G,h_vmem=5G,h_fsize=300G'
    }
    
    withName: WriteAriocConfigs {
        cpus = 1
        module = 'conda_R/4.0.x'
        clusterOptions = '-l mem_free=2G,h_vmem=2G'
    }
    
    withName: EncodeReads {
        cpus = 1
        module = 'arioc/1.43'
        clusterOptions = '-l gpu,mf=180G,h_vmem=180G,h_fsize=200G,h_stack=32M'
    }
    
    withName: AlignReads {
        cpus = 1
        module = 'arioc/1.43'
        clusterOptions = '-l gpu,mf=200G,h_vmem=200G,h_fsize=900G,h_stack=16M'
    }
    
    withName: FilterAlignments {
        cpus = 2
        penv = 'local'
        module = 'samtools/1.10:samblaster/0.1.26'
        clusterOptions = '-l mem_free=8G,h_vmem=8G,h_fsize=800G'
    }
    
    withName: MakeRules {
        cpus = 1
        clusterOptions = '-l mem_free=2G,h_vmem=2G'
    }
}
