// All containers and singularity settings for use of the "first half" of the
// pipeline

repoDir=workflow.projectDir

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$repoDir/docker/singularity_cache"
}

process {
    withName: PullReference {
         container = 'libddocker/ubuntu16.04_base:latest'
    }
  
    withName: PrepareReference {
         container = 'libddocker/bioc_kallisto:3.13'
    }
    
    withName: EncodeReference {
        container = 'libddocker/arioc:1.43'
        singularity.runOptions = '--nv'
    }
  
    withName: PreprocessInputs {
        container = 'libddocker/bioc_kallisto:3.13'
    }
    
    withName: FastQC_Untrimmed {
        container = 'libddocker/quality_and_trim:0.6.6'
    }
    
    withName: Trimming {
        container = 'libddocker/quality_and_trim:0.6.6'
    }
    
    withName: WriteAriocConfigs {
        container = 'libddocker/bioc_kallisto:3.13'
    }
    
    withName: EncodeReads {
        container = 'libddocker/arioc:1.43'
        singularity.runOptions = '--nv'
    }
    
    withName: AlignReads {
        container = 'libddocker/arioc:1.43'
        singularity.runOptions = '--nv'
    }
    
    withName: FilterAlignments {
        container = 'libddocker/filter_alignments:1.0'
    }
    
    withName: MakeRules {
        container = 'libddocker/ubuntu16.04_base:latest'
    }
}
