//=============================================================================
//  Hardware and software configuration for pipeline execution on a SLURM- 
//  managed machine
//=============================================================================

//  Add locally installed software to path-related environment variables
env.LD_LIBRARY_PATH="$repoDir/Software/lib:System.getenv('LD_LIBRARY_PATH')"
env.PATH="$repoDir/Software/bin:System.getenv('PATH')"

params {    
    //----------------------------------------------------
    //  Annotation-related settings
    //----------------------------------------------------
    
    gencode_version_human = "34"
    gencode_version_mouse = "M23"
    anno_build = "main" // main or primary (main is canonical seqs only)
    
    //----------------------------------------------------
    //  Arioc alignment settings
    //----------------------------------------------------
    
    // The queue containing GPU access for use with Arioc (this must be set by
    // the user!)
    arioc_queue = ""
    
    batch_size = "32k"
    gapped_seed = "hsi25_0_30_CT"
    nongapped_seed = "ssi84_2_30_CT"
    gapped_args = 'Wmxgs="2,6,5,3" Vt="L,0,1" maxJ="20" seedDepth="4"'
    nongapped_args = 'maxJ="200" maxMismatches="5"'
    x_args = 'watchdogInterval="60" cgaReserved="24M" useHinGmem="0" useJinGmem="0" useHJinGPmem="0" serialLUTinit="1"'
    max_gpus = 1
    gpu_perc_usage_cutoff = 10
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

executor {
    name = 'slurm'
    queueSize = 40
    submitRateLimit = '1 sec'
    exitReadTimeout = '40 min'
}

process {

    cache = 'lenient'
    
    withName: PullReference {
        cpus = 1
        memory = 5.GB
    }
  
    withName: PrepareReference {
        cpus = 1
        memory = 3.GB
    }
    
    withName: EncodeReference {
        cpus = 1
        memory = 80.GB
        queue = params.arioc_queue
    }
  
    withName: PreprocessInputs {
        cpus = 1
        memory = 3.GB
    }
    
    withName: FastQC_Untrimmed {
        cpus = 2
        memory = 10.GB
        penv = 'local'
    }
    
    withName: Trimming {
        cpus = 1
        memory = 5.GB
    }
    
    withName: WriteAriocConfigs {
        cpus = 1
        memory = 2.GB
    }
    
    withName: EncodeReads {
        cpus = 1
        memory = 80.GB
        queue = params.arioc_queue
    }
    
    withName: AlignReads {
        cpus = 1
        memory = 80.GB
        queue = params.arioc_queue
    }
    
    withName: FilterAlignments {
        cpus = 2
        penv = 'local'
        memory = 16.GB
    }
    
    withName: MakeRules {
        cpus = 1
        memory = 2.GB
    }
}
