//=============================================================================
//  Hardware and software configuration for pipeline execution on a single 
//  machine, locally
//=============================================================================

//  Add locally installed software to path-related environment variables
env.LD_LIBRARY_PATH="$repoDir/Software/lib:System.getenv('LD_LIBRARY_PATH')"
env.PATH="$repoDir/Software/bin:System.getenv('PATH')"


params {
    //----------------------------------------------------
    //  Annotation-related settings
    //----------------------------------------------------
    
    gencode_version_human = "34"
    gencode_version_mouse = "M23"
    anno_build = "main" // main or primary (main is canonical seqs only)
    
    //----------------------------------------------------
    //  Arioc alignment settings
    //----------------------------------------------------
  
    batch_size = "64k"
    gapped_seed = "hsi25_0_32_CT"
    nongapped_seed = "ssi84_2_30_CT"
    gapped_args = 'Wmxgs="2,6,5,3" Vt="L,0,1" maxJ="20" seedDepth="4"'
    nongapped_args = 'maxJ="200" maxMismatches="5"'
    x_args = 'watchdogInterval="60" cgaReserved="24M" useHinGmem="1" useJinGmem="0" useHJinGPmem="0" serialLUTinit="1"'
    gpu_mask = "0x00000001"
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

executor {
    name = 'local'
}

process {

    cache = 'lenient'
    
    withName: PullReference {
        cpus = 1
        memory = 5.GB
    }
  
    withName: PrepareReference {
        cpus = 1
        memory = 50.GB
    }
    
    withName: EncodeReference {
        cpus = 1
        memory = 200.GB
    }
  
    withName: PreprocessInputs {
        cpus = 1
        memory = 3.GB
    }
    
    withName: FastQC_Untrimmed {
        cpus = 2
        memory = 10.GB
    }
    
    withName: Trimming {
        cpus = 1
        memory = 5.GB
    }
    
    withName: WriteAriocConfigs {
        cpus = 1
        memory = 2.GB
    }
    
    withName: EncodeReads {
        cpus = 1
        memory = 180.GB
    }
    
    withName: AlignReads {
        cpus = 1
        memory = 200.GB
    }
    
    withName: FilterAlignments {
        cpus = 2
        memory = 16.GB
    }
    
    withName: MakeRules {
        cpus = 1
        memory = 2.GB
    }
}
