//=========================================================================
//  Hardware and software configuration for pipeline execution at JHPCE
//=========================================================================

env.OMP_NUM_THREADS = 1

params {
    use_long_paths = true
    
    //----------------------------------------------------
    //  Adjustable parameters for software tools
    //----------------------------------------------------
    
    data_table_threads = 10
    
    //----------------------------------------------------
    //  Command paths specific to JHPCE
    //----------------------------------------------------
    
    // Bismark
    bismark_genome_preparation = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/bismark_genome_preparation"
    BME = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/bismark_methylation_extractor"
    bismark2bedGraph = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/bismark2bedGraph"
    coverage2cytosine = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/coverage2cytosine"
    
    //  Others
    samtools = "/jhpce/shared/jhpce/libd/samtools/1.9/bin/samtools"
    samblaster = "/dcl01/lieber/ajaffe/Nick/arioc_testing/samblaster/samblaster"
    MethylDackel = "/dcl01/lieber/ajaffe/Nick/MethylDackel/bin/MethylDackel"
    kallisto = "/jhpce/shared/jhpce/libd/kallisto/0.46.1/kallisto/kallisto"
    hisat2 = "/jhpce/shared/jhpce/libd/hisat2/2.1.0/hisat2-2.1.0/"
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

executor = 'sge'

process {

    cache = 'lenient'
  
    withName: PrepareReference {
        cpus = 1
        memory = 40.GB
        module = 'conda_R/3.6.x'
        clusterOptions = '-l h_vmem=40G'
    }
    
    withName: PrepareLambda {
        cpus = 1
        memory = 5.GB
        module = 'conda_R/3.6.x'
        clusterOptions = '-l h_vmem=5G'
    }
    
    withName: LambdaPseudo {
        cpus = 1
        memory = 5.GB
        module = 'conda_R/3.6.x'
        clusterOptions = '-l h_vmem=5G'
    }
    
    withName: PreprocessInputs {
        cpus = 1
        memory = 4.GB
        module = 'conda_R/3.6.x'
        clusterOptions = '-l h_vmem=4G'
    }
    
    withName: SamToBam {
        cpus = 2
        penv = 'local'
        memory = 12.GB
        clusterOptions = '-l h_vmem=12G,h_fsize=800G'
    }
    
    withName: BME {
        cpus = 5
        penv = 'local'
        memory = 60.GB
        clusterOptions = '-l h_vmem=12G,h_fsize=100G'
    }
    
    withName: MethylationExtraction {
        cpus = 1
        memory = 3.GB
        module = 'htslib/1.9:conda_R/3.6.x'
        clusterOptions = '-l h_vmem=3G,h_fsize=20G'
    }
    
    withName: ParseReports {
        cpus = 1
        memory = 4.GB
        module = 'conda_R/3.6.x'
        clusterOptions = '-l h_vmem=4G'
    }
    
    withName: Bismark2Bedgraph {
        cpus = 1
        memory = 5.GB
        clusterOptions = '-l h_vmem=5G,h_fsize=50G'
    }
    
    withName: Coverage2Cytosine {
        cpus = 1
        memory = 60.GB
        clusterOptions = '-l h_vmem=60G,h_fsize=100G'
    }
    
    withName: FormBsseqObjects {
        cpus = 2
        penv = 'local'
        memory = 5.GB
        module = 'conda_R/3.6.x'
        clusterOptions = '-l h_vmem=15G,h_fsize=100G'
    }
    
    withName: MergeBsseqObjects {
        cpus = 1
        memory = 80.GB
        module = 'conda_R/3.6.x'
        clusterOptions = '-l h_vmem=60G,h_fsize=200G'
    }
}