//=========================================================================
//  Hardware and software configuration for pipeline execution at JHPCE
//=========================================================================

env.OMP_NUM_THREADS = 2

params {
    use_long_paths = true
    
    //----------------------------------------------------
    //  Annotation-related settings
    //----------------------------------------------------
    
    gencode_version_human = "34"
    gencode_version_mouse = "M23"
    anno_build = "main" // main or primary (main is canonical seqs only)
    
    //----------------------------------------------------
    //  Adjustable parameters for software tools
    //----------------------------------------------------
  
    AriocBatchSize = "64k"
    data_table_threads = 10
    
    //----------------------------------------------------
    //  Command paths specific to JHPCE
    //----------------------------------------------------
    
    // Bismark
    bismark_genome_preparation = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/bismark_genome_preparation"
    BME = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/bismark_methylation_extractor"
    bismark2bedGraph = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/bismark2bedGraph"
    coverage2cytosine = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/coverage2cytosine"
    hisat2 = "/jhpce/shared/jhpce/libd/hisat2/2.1.0/hisat2-2.1.0/"
    
    //  Arioc
    AriocE = "/dcl01/lieber/ajaffe/Nick/arioc_testing/Arioc_140/bin/AriocE"
    AriocP = "/dcl01/lieber/ajaffe/Nick/arioc_testing/Arioc_140/bin/AriocP"
    AriocU = "/dcl01/lieber/ajaffe/Nick/arioc_testing/Arioc_140/bin/AriocU"
    
    //  Others
    fastqc = "/jhpce/shared/jhpce/libd/FastQC/0.11.8/FastQC/fastqc"
    samtools = "/jhpce/shared/jhpce/libd/samtools/1.9/bin/samtools"
    samblaster = "/dcl01/lieber/ajaffe/Nick/arioc_testing/samblaster/samblaster"
    MethylDackel = "/dcl01/lieber/ajaffe/Nick/MethylDackel/bin/MethylDackel"
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

executor {
    name = 'sge'
    //queueSize = 1
    submitRateLimit = '1 sec'
    exitReadTimeout = '40 min'
}

process {

    cache = 'lenient'
  
    withName: PrepareReference {
        cpus = 1
        memory = 40.GB
        module = 'conda_R/4.0'
        clusterOptions = '-l h_vmem=40G'
    }
    
    withName: EncodeReference {
        cpus = 1
        clusterOptions = '-l gpu,mf=200G,h_vmem=200G,h_fsize=200G,h_stack=32M'
    }
    
    withName: PrepareLambda {
        cpus = 1
        memory = 5.GB
        module = 'conda_R/4.0:kallisto/0.46.1'
        clusterOptions = '-l h_vmem=5G'
    }
    
    withName: LambdaPseudo {
        cpus = 4
        penv = 'local'
        memory = 16.GB
        module = 'conda_R/4.0:kallisto/0.46.1'
        clusterOptions = '-l h_vmem=4G'
    }
  
    withName: Merging {
        cpus = 1
        memory = 3.GB
        module = 'conda_R/4.0'
        clusterOptions = '-l h_vmem=3G,h_fsize=300G'
    }
    
    withName: FastQC_Untrimmed {
        cpus = 2
        memory = 10.GB
        penv = 'local'
        //module = 'fastqc/0.11.8'
        clusterOptions = '-l h_vmem=5G'
    }
    
    withName: Trimming {
        cpus = 1
        memory = 5.GB
        module = 'trimgalore/0.6.4'
        clusterOptions = '-l h_vmem=5G,h_fsize=300G'
    }
    
    withName: WriteAriocConfigs {
        cpus = 1
        memory = 2.GB
        module = 'conda_R/3.6'
        clusterOptions = '-l h_vmem=2G'
    }
    
    withName: EncodeReads {
        cpus = 1
        clusterOptions = '-l gpu,mf=180G,h_vmem=180G,h_fsize=200G,h_stack=32M'
    }
    
    withName: AlignReads {
        cpus = 1
        clusterOptions = '-l gpu,mf=200G,h_vmem=200G,h_fsize=900G,h_stack=16M'
    }
    
    withName: FilterAlignments {
        cpus = 2
        penv = 'local'
        memory = 16.GB
        clusterOptions = '-l h_vmem=8G,h_fsize=800G'
    }
    
    withName: BME {
        cpus = 5
        penv = 'local'
        memory = 60.GB
        clusterOptions = '-l h_vmem=12G,h_fsize=100G'
    }
    
    withName: ParseReports {
        cpus = 1
        memory = 4.GB
        module = 'conda_R/4.0'
        clusterOptions = '-l h_vmem=4G'
    }
    
    withName: MethylationExtraction {
        cpus = 1
        memory = 3.GB
        module = 'htslib/1.9'
        clusterOptions = '-l h_vmem=3G,h_fsize=50G'
    }
    
    withName: Bismark2Bedgraph {
        cpus = 1
        memory = 5.GB
        clusterOptions = '-l h_vmem=5G,h_fsize=50G'
    }
    
    withName: Coverage2Cytosine {
        cpus = 1
        memory = 50.GB
        clusterOptions = '-l h_vmem=50G,h_fsize=100G'
    }
    
    withName: FormBsseqObjects {
        cpus = 2
        penv = 'local'
        memory = 50.GB
        module = 'conda_R/4.0'
        clusterOptions = '-l h_vmem=25G,h_fsize=100G'
    }
    
    withName: MergeBsseqObjects {
        cpus = 1
        memory = 160.GB
        module = 'conda_R/4.0'
        clusterOptions = '-l h_vmem=160G,h_fsize=200G'
    }
}
