//=========================================================================
//  Hardware and software configuration for pipeline execution at JHPCE
//=========================================================================

env.OMP_NUM_THREADS = 1
//executor.queueSize = 1
//env.CUDA_VISIBLE_DEVICES=0,1

params {
    //----------------------------------------------------
    //  Adjustable parameters for software tools
    //----------------------------------------------------
    
    trim_clip = "2:30:10:1"
    trim_lead = 3
    trim_trail = 3
    trim_slide_window = "4:15"
    trim_min_len = 75
  
    AriocBatchSize = "64k"
    
    //----------------------------------------------------
    //  Command paths specific to JHPCE
    //----------------------------------------------------
    
    // Bismark
    bismark_genome_preparation = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/bismark_genome_preparation"
    BME = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/bismark_methylation_extractor"
    bismark2bedGraph = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/bismark2bedGraph"
    coverage2cytosine = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/coverage2cytosine"
    hisat2 = "/jhpce/shared/jhpce/libd/hisat2/2.1.0/hisat2-2.1.0/"
    
    //  Arioc
    AriocE = "/dcl01/lieber/ajaffe/Nick/arioc_testing/Arioc_140/bin/AriocE"
    AriocP = "/dcl01/lieber/ajaffe/Nick/arioc_testing/Arioc_140/bin/AriocP"
    AriocU = "/dcl01/lieber/ajaffe/Nick/arioc_testing/Arioc_140/bin/AriocU"
    
    //  Trimmomatic
    trimmomatic = "/jhpce/shared/jhpce/libd/Trimmomatic/0.36/Trimmomatic-0.36/trimmomatic-0.36.jar"
    adapter_fasta = "/jhpce/shared/jhpce/libd/Trimmomatic/0.36/Trimmomatic-0.36/adapters/TruSeq2-PE.fa"
    
    //  Others
    fastqc = "/jhpce/shared/jhpce/libd/FastQC/0.11.8/FastQC/fastqc"
    samtools = "/jhpce/shared/jhpce/libd/samtools/1.9/bin/samtools"
    samblaster = "/dcl01/lieber/ajaffe/Nick/arioc_testing/samblaster/samblaster"
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

process {

    executor = 'sge'
  
    withName: PrepareReference {
        cpus = 1
        memory = 40.GB
        module = 'conda_R/3.6'
        clusterOptions = '-l h_vmem=40G'
    }
    
    withName: EncodeReference {
        cpus = 1
        memory = 200.GB
        clusterOptions = '-l gpu,mf=200G,h_vmem=200G,h_fsize=200G,h_stack=32M'
    }
  
    withName: Merging {
        cpus = 1
        memory = 2.GB
        module = 'conda_R/3.6'
        clusterOptions = '-l h_vmem=2G,h_fsize=50G'
    }
    
    withName: FastQC_Untrimmed {
        cpus = 2
        memory = 10.GB
        penv = 'local'
        //module = 'fastqc/0.11.8'
        clusterOptions = '-l h_vmem=5G'
    }
    
    withName: Trimming {
        cpus = 4
        penv = 'local'
        memory = 12.GB
        //module = 'trimmomatic/0.36'
        clusterOptions = '-l h_vmem=3G -R y'
    }
    
    withName: FastQC_Trimmed {
        cpus = 2
        memory = 10.GB
        penv = 'local'
        //module = 'fastqc/0.11.8'
        clusterOptions = '-l h_vmem=5G'
    }
    
    withName: WriteAriocConfigs {
        cpus = 1
        memory = 2.GB
        module = 'conda_R/3.6'
        clusterOptions = '-l h_vmem=2G'
    }
    
    withName: EncodeReads {
        cpus = 1
        memory = 200.GB
        clusterOptions = '-l gpu,h_vmem=200G,h_fsize=200G,h_stack=32M'
    }
    
    withName: AlignReads {
        cpus = 1
        memory = 200.GB
        clusterOptions = '-l gpu,h_vmem=200G,h_fsize=900G,h_stack=16M'
    }
    
    withName: ParseAriocLogs {
        cpus = 1
        memory = 2.GB
        module = 'conda_R/3.6'
        clusterOptions = '-l h_vmem=2G'
    }
    
    withName: FilterSam {
        cpus = 1
        memory = 10.GB
        clusterOptions = '-l h_vmem=10G,h_fsize=800G'
    }
    
    withName: BME {
        cpus = 5
        penv = 'local'
        memory = 60.GB
        clusterOptions = '-l h_vmem=12G,h_fsize=100G'
    }
    
    withName: Bismark2Bedgraph {
        cpus = 1
        memory = 5.GB
        clusterOptions = '-l h_vmem=5G,h_fsize=50G'
    }
    
    withName: Coverage2Cytosine {
        cpus = 1
        memory = 50.GB
        clusterOptions = '-l h_vmem=50G,h_fsize=100G'
    }
    
    withName: FormBsseqObjects {
        cpus = 2
        penv = 'local'
        memory = 30.GB
        module = 'conda_R/3.6'
        clusterOptions = '-l h_vmem=15G,h_fsize=100G'
    }
}