//=========================================================================
//  Hardware and software configuration for pipeline execution at MARCC
//=========================================================================

//env.OMP_NUM_THREADS = 1
//executor.queueSize = 1


params {
    use_long_paths = true
    
    //----------------------------------------------------
    //  Adjustable parameters for software tools
    //----------------------------------------------------
    
    trim_clip_single = "2:30:10"
    trim_clip_paired = "2:30:10:1:TRUE"
    trim_lead = 3
    trim_trail = 3
    trim_slide_window = "4:15"
    trim_min_len = 75
  
    AriocBatchSize = "64k"
    data_table_threads = 10
    
    //----------------------------------------------------
    //  Command paths specific to MARCC
    //----------------------------------------------------
    
    // Bismark
    bismark_genome_preparation = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/bismark_genome_preparation"
    BME = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/bismark_methylation_extractor"
    bismark2bedGraph = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/bismark2bedGraph"
    coverage2cytosine = "/dcl01/lieber/ajaffe/Nick/bismark4and5/Bismark/coverage2cytosine"
    hisat2 = "/software/apps/hisat2/2.1.0/bin/"
    
    //  Arioc
    AriocE = "/scratch/groups/ajaffe1/WGBS-Pipeline/software/arioc/bin/AriocE"
    AriocP = "/scratch/groups/ajaffe1/WGBS-Pipeline/software/arioc/bin/AriocP"
    AriocU = "/scratch/groups/ajaffe1/WGBS-Pipeline/software/arioc/bin/AriocU"
    
    //  Trimmomatic
    trimmomatic = "/software/apps/trimmomatic/0.38/trimmomatic-0.38.jar"
    adapter_fasta_paired = "/software/apps/trimmomatic/0.38/adapters/TruSeq3-PE-2.fa"
    adapter_fasta_single = "/software/apps/trimmomatic/0.38/adapters/TruSeq3-SE.fa"
    
    //  Others
    fastqc = "/software/apps/fastqc/0.11.7/fastqc"
    samtools = "/software/apps/samtools/1.9/intel/18.0/bin/samtools"
    samblaster = "/scratch/groups/ajaffe1/WGBS-Pipeline/software/samblaster/samblaster"
    MethylDackel = "/scratch/groups/ajaffe1/WGBS-Pipeline/software/bin/MethylDackel"
    
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

process {
    executor = 'slurm'
    cache = 'lenient'
  
    withName: PrepareReference {
        cpus = 1
        memory = 40.GB
        module = 'R/3.6.1'
        time = '1h'
    }
       
    withName: EncodeReference {
        cpus = 1
        memory = 180.GB
        time = '40m'
    }
  
    withName: Merging {
        cpus = 1
        module = 'R/3.6.1'
        memory = 2.GB
        time = '5m'
    }
    
    withName: FastQC_Untrimmed {
        cpus = 2
        memory = 10.GB
        time = '15m'
    }
    
    withName: Trimming {
        cpus = 4
        memory = 12.GB
        time = '25m'
    }
    
    withName: FastQC_Trimmed {
        cpus = 2
        memory = 10.GB
        time = '15m'
    }
    
    withName: WriteAriocConfigs {
        cpus = 1
        memory = 2.GB
        module = 'R/3.6.1'
        time = '10m'
    }
    
    withName: EncodeReads {
        memory = 180.GB
        time = '25m'
        clusterOptions = '-p gpuk80 –gres=gpu1 --cpus-per-task=6'
    }
    
    withName: AlignReads {
        memory = 200.GB
        //time = '3h'
        time = '1h'
        clusterOptions = '-p gpuk80 –gres=gpu1 --cpus-per-task=6'
    }
    
    withName: ParseAriocLogs {
        cpus = 1
        memory = 2.GB
        module = 'R/3.6.1'
        time = '10m'
    }
    
    withName: FilterAlignments {
        cpus = 2
        memory = 10.GB
        //time='4h'
        time = '30m'
    }
    
    withName: BME {
        cpus = 5
        memory = 60.GB
        //time = '3d'
        time = '3h'
    }
    
    withName: MethylationExtraction {
        cpus = 1
        memory = 3.GB
        module = 'R/3.6.1'
        //time = '3h'
        time = '40m'
    }
    
    withName: ParseBMELogs {
        cpus = 1
        memory = 4.GB
        module = 'R/3.6.1'
        time = '10m'
    }
    
    withName: Bismark2Bedgraph {
        cpus = 1
        memory = 5.GB
        //time = '3d'
        time = '4h'
    }
    
    withName: Coverage2Cytosine {
        cpus = 1
        memory = 50.GB
        //time = '2d'
        time = '3h'
    }
    
    withName: FormBsseqObjects {
        cpus = 2
        memory = 20.GB
        module = 'R/3.6.1'
        //time = '10h'
        time = '2h'
    }
    
    withName: MergeBsseqObjects {
        cpus = 1
        memory = 80.GB
        module = 'R/3.6.1'
        //time = '5d'
        time = '10m'
    }
}
