//=========================================================================
//  Hardware and software configuration for pipeline execution at MARCC
//=========================================================================

//env.OMP_NUM_THREADS = 1

params {
    use_long_paths = true
    
    //----------------------------------------------------
    //  Annotation-related settings
    //----------------------------------------------------
    
    gencode_version_human = "34"
    gencode_version_mouse = "M23"
    anno_build = "main" // main or primary (main is canonical seqs only)
    
    //----------------------------------------------------
    //  Adjustable parameters for software tools
    //----------------------------------------------------
    
    data_table_threads = 2
    
    //----------------------------------------------------
    //  Command paths specific to MARCC
    //----------------------------------------------------
    
    // Bismark
    bismark_genome_preparation = "/scratch/groups/ajaffe1/WGBS-Pipeline/software/Bismark-0.22.3/bismark_genome_preparation"
    BME = "/scratch/groups/ajaffe1/WGBS-Pipeline/software/Bismark-0.22.3/bismark_methylation_extractor"
    bismark2bedGraph = "/scratch/groups/ajaffe1/WGBS-Pipeline/software/Bismark-0.22.3/bismark2bedGraph"
    coverage2cytosine = "/scratch/groups/ajaffe1/WGBS-Pipeline/software/Bismark-0.22.3/coverage2cytosine"
    
    //  Others
    samtools = "/software/apps/samtools/1.9/intel/18.0/bin/samtools"
    samblaster = "/scratch/groups/ajaffe1/WGBS-Pipeline/software/samblaster/samblaster"
    MethylDackel = "/scratch/groups/ajaffe1/WGBS-Pipeline/software/bin/MethylDackel"
    
}

executor {
    name = 'slurm'
    queueSize = 20
    submitRateLimit = '1 sec'
    exitReadTimeout = '30 min'
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

process {
    cache = 'lenient'
    queue = 'shared'
  
    withName: PrepareReference {
        cpus = 5
        memory = 16.GB
        module = 'R/3.6.1'
        time = '3h'
    }
    
    withName: PrepareLambda {
        cpus = 1
        memory = 5.GB
        module = 'R/3.6.1'
        time = '30m'
    }
    
    withName: LambdaPseudo {
        cpus = 1
        memory = 5.GB
        module = 'R/3.6.1'
        time = '1h'
    }
    
    withName: PreprocessInputs {
        cpus = 1
        memory = 4.GB
        module = 'R/3.6.1'
        time = '15m'
    }
    
    withName: SamToBam {
        cpus = 2
        memory = 12.GB
        //time='4h'
        time = '30m'
    }
    
    withName: BME {
        cpus = 4
        memory = 12.GB
        //time = '3d'
        time = '3h'
    }
    
    withName: MethylationExtraction {
        cpus = 1
        memory = 3.GB
        module = 'R/3.6.1'
        //time = '3h'
        time = '40m'
    }
    
    withName: ParseReports {
        cpus = 1
        memory = 4.GB
        module = 'R/3.6.1'
        time = '10m'
    }
    
    withName: Bismark2Bedgraph {
        cpus = 2
        memory = 5.GB
        //time = '3d'
        time = '4h'
    }
    
    withName: Coverage2Cytosine {
        cpus = 10
        memory = 45.GB
        //time = '2d'
        time = '3h'
        queue = 'shared'
    }
    
    withName: FormBsseqObjects {
        cpus = 5
        memory = 20.GB
        module = 'R/3.6.1'
        //time = '10h'
        time = '2h'
    }
    
    withName: MergeBsseqObjects {
        cpus = 18
        memory = 80.GB
        module = 'R/3.6.1'
        //time = '5d'
        time = '10m'
    }
}
