//=========================================================================
//  Hardware and software configuration for pipeline execution at JHPCE
//=========================================================================

env.OMP_NUM_THREADS = 2

params {
    //----------------------------------------------------
    //  Annotation-related settings
    //----------------------------------------------------
    
    gencode_version_human = "34"
    gencode_version_mouse = "M23"
    anno_build = "main" // main or primary (main is canonical seqs only)
    
    //----------------------------------------------------
    //  Adjustable parameters for software tools
    //----------------------------------------------------
    
    // data_table_threads = 2
    
    //----------------------------------------------------
    //  Command paths specific to JHPCE
    //----------------------------------------------------
    
    //  Others
    MethylDackel = "/dcl01/lieber/ajaffe/Nick/MethylDackel/bin/MethylDackel"
    kallisto = "/jhpce/shared/jhpce/libd/kallisto/0.46.1/kallisto/kallisto"
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

executor {
    name = 'sge'
    queueSize = 35
    submitRateLimit = '1 sec'
    exitReadTimeout = '50 min'
}

process {

    cache = 'lenient'
  
    withName: PullReference {
        cpus = 1
        memory = 5.GB
        clusterOptions = '-l h_vmem=5G'
    }
    
    withName: PrepareReference {
        cpus = 1
        memory = 50.GB
        module = 'bismark/0.14.3:hisat2/2.1.0'
        clusterOptions = '-l h_vmem=50G'
    }
    
    withName: PrepareLambda {
        cpus = 1
        memory = 5.GB
        module = 'conda_R/4.0.x'
        clusterOptions = '-l h_vmem=5G'
    }
    
    withName: LambdaPseudo {
        cpus = 1
        memory = 5.GB
        module = 'conda_R/4.0.x:kallisto/0.46.1'
        clusterOptions = '-l h_vmem=5G'
    }
    
    withName: PreprocessInputs {
        cpus = 1
        memory = 4.GB
        module = 'conda_R/4.0.x'
        clusterOptions = '-l h_vmem=4G'
    }
    
    withName: SamToBam {
        cpus = 2
        penv = 'local'
        memory = 16.GB
        module = 'samtools/1.10'
        clusterOptions = '-l h_vmem=8G,h_fsize=800G'
    }
    
    withName: BME {
        cpus = 5
        penv = 'local'
        memory = 60.GB
        module = 'bismark/0.14.3:samtools/1.10'
        clusterOptions = '-l h_vmem=12G,h_fsize=100G'
    }
    
    withName: MethylationExtraction {
        cpus = 1
        memory = 5.GB
        module = 'htslib/1.10.2:conda_R/4.0.x'
        clusterOptions = '-l h_vmem=5G,h_fsize=100G'
    }
    
    withName: ParseReports {
        cpus = 1
        memory = 4.GB
        module = 'conda_R/4.0.x'
        clusterOptions = '-l h_vmem=4G'
    }
    
    withName: Bismark2Bedgraph {
        cpus = 1
        memory = 5.GB
        module = 'bismark/0.14.3'
        clusterOptions = '-l h_vmem=5G,h_fsize=50G'
    }
    
    withName: Coverage2Cytosine {
        cpus = 1
        memory = 60.GB
        module = 'bismark/0.14.3'
        clusterOptions = '-l h_vmem=60G,h_fsize=100G'
    }
    
    withName: FormBsseqObjects {
        cpus = 2
        penv = 'local'
        memory = 60.GB
        module = 'conda_R/4.0.x'
        clusterOptions = '-l h_vmem=30G,h_fsize=100G'
    }
    
    withName: MergeBsseqObjects {
        cpus = 1
        memory = { context == "CpG" ? 60.GB : 180.GB }
        module = 'conda_R/4.0.x'
        clusterOptions = '-l bluejay,h_vmem=180G,h_fsize=800G'
    }
}
