//=============================================================================
//  Hardware and software configuration for pipeline execution at MARCC 
//=============================================================================

params {
    using_docker = false
    
    //----------------------------------------------------
    //  Annotation-related settings
    //----------------------------------------------------
    
    gencode_version_human = "34"
    gencode_version_mouse = "M23"
    anno_build = "main" // main or primary (main is canonical seqs only)
    
    //----------------------------------------------------
    //  Adjustable parameters for software tools
    //----------------------------------------------------
    
    //  Arguments to pass to 'kallisto quant' for single-end samples, as part
    //  of the process for estimating bisulfite conversion efficiency when
    //  using the '--with_lambda' option
    kallisto_single_args = "--single -l 200 -s 30"
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

executor {
    name = 'slurm'
    queueSize = 40
    submitRateLimit = '1 sec'
    exitReadTimeout = '40 min'
}

process {

    cache = 'lenient'
    conda = '/home-3/neagles1@jhu.edu/code/WGBS-Pipeline/conda/pipeline_env'
  
    withName: PullReference {
        cpus = 1
        memory = 5.GB
        time = 30.m
    }
    
    withName: PrepareReference {
        cpus = 1
        memory = 3.GB
        time = 30.m
    }
    
    withName: PrepareLambda {
        cpus = 1
        memory = 5.GB
        time = 30.m
    }
    
    withName: LambdaPseudo {
        cpus = 1
        memory = 5.GB
        time = 10.m
    }
    
    withName: PreprocessInputs {
        cpus = 1
        memory = 4.GB
        time = 5.m
    }
    
    withName: BME {
        cpus = 5
        penv = 'local'
        memory = 60.GB
        time = 5.h
    }
    
    withName: MethylationExtraction {
        cpus = 1
        memory = 5.GB
        time = 5.h
        
    }
    
    withName: ParseReports {
        cpus = 1
        memory = 4.GB
        time = 5.m
    }
    
    withName: Bismark2Bedgraph {
        cpus = 1
        memory = 5.GB
        time = 5.h
    }
    
    withName: Coverage2Cytosine {
        cpus = 1
        memory = 60.GB
        time = 5.h
    }
    
    withName: FormBsseqObjects {
        cpus = 2
        memory = 60.GB
        queue = 'shared'
        time = 30.m
    }
    
    withName: MergeBsseqObjects {
        cpus = 1
        memory = { context == "CpG" ? 60.GB : 100.GB }
        queue = 'shared'
        time = 30.m
    }
}
