//=========================================================================
//  Hardware and software configuration for pipeline execution at JHPCE
//=========================================================================

env.OMP_NUM_THREADS = 2

params {
    using_containers = false
    
    //----------------------------------------------------
    //  Annotation-related settings
    //----------------------------------------------------
    
    gencode_version_human = "34"
    gencode_version_mouse = "M23"
    anno_build = "main" // main or primary (main is canonical seqs only)
    
    //----------------------------------------------------
    //  Adjustable parameters for software tools
    //----------------------------------------------------
    
    //  Arguments to pass to 'kallisto quant' for single-end samples, as part
    //  of the process for estimating bisulfite conversion efficiency when
    //  using the '--with_lambda' option
    kallisto_single_args = "--single -l 200 -s 30"
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

executor {
    name = 'slurm'
    queueSize = 40
    submitRateLimit = '1 sec'
    exitReadTimeout = '40 min'
}

process {

    cache = 'lenient'
  
    withName: PullReference {
        cpus = 1
        memory = 5.GB
    }
    
    withName: PrepareReference {
        cpus = 1
        module = 'bismark/0.23.0:hisat2/2.2.1'
        memory = 50.GB
    }
    
    withName: PrepareLambda {
        cpus = 1
        module = 'conda_R/4.3:kallisto/0.46.1'
        memory = 5.GB
    }
    
    withName: LambdaPseudo {
        cpus = 1
        module = 'conda_R/4.3:kallisto/0.46.1'
        memory = 5.GB
    }
    
    withName: PreprocessInputs {
        cpus = 1
        module = 'conda_R/4.3'
        memory = 4.GB
    }
    
    withName: BME {
        cpus = 5
        module = 'bismark/0.23.0:samtools/1.10'
        memory = 60.GB
    }
    
    withName: MethylationExtraction {
        cpus = 1
        module = 'methyldackel/0.5.2:conda_R/4.3:samtools/1.10'
        memory = 5.GB
    }
    
    withName: ParseReports {
        cpus = 1
        module = 'conda_R/4.3'
        memory = 4.GB
    }
    
    withName: Bismark2Bedgraph {
        cpus = 1
        module = 'bismark/0.23.0'
        memory = 5.GB
    }
    
    withName: Coverage2Cytosine {
        cpus = 1
        module = 'bismark/0.23.0'
        memory = 60.GB
    }
    
    withName: FormBsseqObjects {
        cpus = 2
        module = 'conda_R/4.3'
        memory = 60.GB
    }
    
    withName: MergeBsseqObjects {
        cpus = 1
        module = 'conda_R/4.3'
        memory = { context == "CpG" ? 60.GB : 180.GB }
    }
}
