//=========================================================================
//  Hardware and software configuration for pipeline execution at JHPCE
//=========================================================================

env.OMP_NUM_THREADS = 2

params {
    //----------------------------------------------------
    //  Annotation-related settings
    //----------------------------------------------------
    
    gencode_version_human = "34"
    gencode_version_mouse = "M23"
    anno_build = "main" // main or primary (main is canonical seqs only)
    
    //----------------------------------------------------
    //  Adjustable parameters for software tools
    //----------------------------------------------------
    
    // data_table_threads = 2
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

executor {
    name = 'sge'
    queueSize = 35
    submitRateLimit = '1 sec'
    exitReadTimeout = '50 min'
}

process {

    cache = 'lenient'
  
    withName: PullReference {
        cpus = 1
        clusterOptions = '-l mem_free=5G,h_vmem=5G'
    }
    
    withName: PrepareReference {
        cpus = 1
        module = 'bismark/0.23.0:hisat2/2.2.1'
        clusterOptions = '-l mem_free=50G,h_vmem=50G'
    }
    
    withName: PrepareLambda {
        cpus = 1
        module = 'conda_R/4.0.x:kallisto/0.46.1'
        clusterOptions = '-l mem_free=5G,h_vmem=5G'
    }
    
    withName: LambdaPseudo {
        cpus = 1
        module = 'conda_R/4.0.x:kallisto/0.46.1'
        clusterOptions = '-l mem_free=5G,h_vmem=5G'
    }
    
    withName: PreprocessInputs {
        cpus = 1
        module = 'conda_R/4.0.x'
        clusterOptions = '-l mem_free=4G,h_vmem=4G'
    }
    
    withName: BME {
        cpus = 5
        penv = 'local'
        module = 'bismark/0.23.0:samtools/1.10'
        clusterOptions = '-l mem_free=12G,h_vmem=12G,h_fsize=100G'
    }
    
    withName: MethylationExtraction {
        cpus = 1
        module = 'methyldackel/0.5.2:conda_R/4.0.x:samtools/1.10'
        clusterOptions = '-l mem_free=5G,h_vmem=5G,h_fsize=100G'
    }
    
    withName: ParseReports {
        cpus = 1
        module = 'conda_R/4.0.x'
        clusterOptions = '-l mem_free=4G,h_vmem=4G'
    }
    
    withName: Bismark2Bedgraph {
        cpus = 1
        module = 'bismark/0.23.0'
        clusterOptions = '-l mem_free=5G,h_vmem=5G,h_fsize=50G'
    }
    
    withName: Coverage2Cytosine {
        cpus = 1
        module = 'bismark/0.23.0'
        clusterOptions = '-l mem_free=60G,h_vmem=60G,h_fsize=100G'
    }
    
    withName: FormBsseqObjects {
        cpus = 2
        penv = 'local'
        module = 'conda_R/4.0.x'
        clusterOptions = '-l mem_free=30G,h_vmem=30G,h_fsize=100G'
    }
    
    withName: MergeBsseqObjects {
        cpus = 1
        module = 'conda_R/4.0.x'
        clusterOptions = { context == "CpG" ? '-l mem_free=60G,h_vmem=60G,h_fsize=800G' : '-l mem_free=180G,h_vmem=180G,h_fsize=800G' }
    }
}
