//=============================================================================
//  Hardware and software configuration for pipeline execution on a single 
//  machine, locally
//=============================================================================

params {
    //----------------------------------------------------
    //  Annotation-related settings
    //----------------------------------------------------
    
    gencode_version_human = "34"
    gencode_version_mouse = "M23"
    anno_build = "main" // main or primary (main is canonical seqs only)
    
    //----------------------------------------------------
    //  Adjustable parameters for software tools
    //----------------------------------------------------
    
    //  Arguments to pass to 'kallisto quant' for single-end samples, as part
    //  of the process for estimating bisulfite conversion efficiency when
    //  using the '--with_lambda' option
    kallisto_single_args = "--single -l 200 -s 30"
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

executor {
    name = 'local'
}

process {

    cache = 'lenient'
  
    withName: PullReference {
        cpus = 1
        memory = 5.GB
    }
    
    withName: PrepareReference {
        cpus = 1
        memory = 50.GB
    }
    
    withName: PrepareLambda {
        cpus = 1
        memory = 5.GB
    }
    
    withName: LambdaPseudo {
        cpus = 1
        memory = 5.GB
    }
    
    withName: PreprocessInputs {
        cpus = 1
        memory = 4.GB
    }
    
    withName: BME {
        cpus = 5
        memory = 60.GB
    }
    
    withName: MethylationExtraction {
        cpus = 1
        memory = 5.GB
    }
    
    withName: ParseReports {
        cpus = 1
        memory = 4.GB
    }
    
    withName: Bismark2Bedgraph {
        cpus = 1
        memory = 5.GB
    }
    
    withName: Coverage2Cytosine {
        cpus = 1
        memory = 60.GB
    }
    
    withName: FormBsseqObjects {
        cpus = 2
        memory = 60.GB
    }
    
    withName: MergeBsseqObjects {
        cpus = 1
        memory = { context == "CpG" ? 60.GB : 180.GB }
    }
}
