// All containers and singularity settings for use of the "second half" of the
// pipeline

params.using_containers = true

repoDir=projectDir

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$repoDir/docker/singularity_cache"
}

process {
    withName: PullReference {
        container = 'libddocker/ubuntu16.04_base:latest'
    }
    
    withName: PrepareReference {
        container = 'libddocker/bismark:0.23.0'
    }
    
    withName: PrepareLambda {
        container = 'libddocker/bioc_kallisto:3.13'
    }
    
    withName: LambdaPseudo {
        container = 'libddocker/bioc_kallisto:3.13'
    }
    
    withName: PreprocessInputs {
        container = 'libddocker/bioc_kallisto:3.13'
    }
    
    withName: BME {
        container = 'libddocker/bismark:0.23.0'
    }
    
    withName: MethylationExtraction {
        container = 'libddocker/methyldackel:0.5.2'
    }
    
    withName: ParseReports {
        container = 'libddocker/bioc_kallisto:3.13'
    }
    
    withName: Bismark2Bedgraph {
        container = 'libddocker/bismark:0.23.0'
    }
    
    withName: Coverage2Cytosine {
        container = 'libddocker/bismark:0.23.0'
    }
    
    withName: FormBsseqObjects {
        container = 'libddocker/bioc_kallisto:3.13'
    }
    
    withName: MergeBsseqObjects {
        container = 'libddocker/bioc_kallisto:3.13'
    }
}
