//=============================================================================
//  Hardware and software configuration for pipeline execution on a Sun Grid 
//  Engine (SGE)- managed machine
//=============================================================================

//  Add locally installed software to path-related environment variables
repoDir=System.getProperty("user.dir")
env.LD_LIBRARY_PATH="$repoDir/Software/lib:System.getenv('LD_LIBRARY_PATH')"
env.PATH="$repoDir/Software/bin:System.getenv('PATH')"

params {
    using_containers = false
    
    //----------------------------------------------------
    //  Annotation-related settings
    //----------------------------------------------------
    
    gencode_version_human = "34"
    gencode_version_mouse = "M23"
    anno_build = "main" // main or primary (main is canonical seqs only)
    
    //----------------------------------------------------
    //  Adjustable parameters for software tools
    //----------------------------------------------------
    
    //  Arguments to pass to 'kallisto quant' for single-end samples, as part
    //  of the process for estimating bisulfite conversion efficiency when
    //  using the '--with_lambda' option
    kallisto_single_args = "--single -l 200 -s 30"
}

//----------------------------------------------------
//  Hardware resource requirements
//----------------------------------------------------

executor {
    name = 'sge'
    queueSize = 40
    submitRateLimit = '1 sec'
    exitReadTimeout = '40 min'
}

process {

    cache = 'lenient'
    
    // Retry process execution up to once if hardware resources (memory, 
    // cpus, etc) are temporarily insufficient
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 1
  
    withName: PullReference {
        cpus = 1
        memory = 5.GB
        time = { 40.m * task.attempt }
    }
    
    withName: PrepareReference {
        cpus = 1
        memory = 5.GB
        time = { 40.m * task.attempt }
    }
    
    withName: PrepareLambda {
        cpus = 1
        memory = 5.GB
        time = { 1.h * task.attempt }
    }
    
    withName: LambdaPseudo {
        cpus = 1
        memory = 5.GB
        time = { 40.m * task.attempt }
    }
    
    withName: PreprocessInputs {
        cpus = 1
        memory = 4.GB
        time = { 30.m * task.attempt }
    }
    
    withName: BME {
        cpus = 5
        memory = 60.GB
        time = { 12.h * task.attempt }
        clusterOptions = '-l h_fsize=100G'
    }
    
    withName: MethylationExtraction {
        cpus = 1
        memory = 5.GB
        time = { 7.h * task.attempt }
        clusterOptions = '-l h_fsize=100G'
    }
    
    withName: ParseReports {
        cpus = 1
        memory = 4.GB
        time = { 15.m * task.attempt }
    }
    
    withName: Bismark2Bedgraph {
        cpus = 1
        memory = 5.GB
        time = { 20.h * task.attempt }
        clusterOptions = '-l h_fsize=50G'
    }
    
    withName: Coverage2Cytosine {
        cpus = 1
        memory = 60.GB
        time = { 20.h * task.attempt }
        clusterOptions = '-l h_fsize=100G'
    }
    
    withName: FormBsseqObjects {
        cpus = 2
        memory = 60.GB
        time = { 15.h * task.attempt }
        clusterOptions = '-l h_fsize=100G'
    }
    
    withName: MergeBsseqObjects {
        cpus = 1
        memory = { context == "CpG" ? 60.GB : 180.GB }
        time = { 15.h * task.attempt }
        clusterOptions = '-l h_fsize=800G'
    }
}
